<% ############# Start new addition ! ############# %>

<h1>The count is...</h1>
<h2><%= @count %></h2>
<button phx-click="increment">Increment!</button>

<% ############# End new addition !   ############# %>
